---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Marco Velan: Resume" description="Marco Velan: Resume">
	<div class="flex justify-center">
		<div class="container bg-zinc-900 lg:px-32">
			<div class="grid min-h-screen place-items-center">
				<h1 class="text-5xl">⛔️</h1>
			</div>
		</div>
	</div>
</Layout>
