---
import GitLink from './git-link.astro'
import LanguagePicker from './language-picker.astro'
---

<header class="container bg-zinc-900">
	<div class="flex flex-col justify-between gap-16 lg:gap-32">
		<LanguagePicker />
		<div class="flex items-center justify-between gap-4">
			<h1 class="text-5xl font-bold lg:text-7xl lg:font-extrabold">
				<div
					class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
				>
					Marco Velan
				</div>
			</h1>
			<GitLink />
		</div>
	</div>
</header>
