---
import GitLink from './git-link.astro'
---

<header
	class="container flex items-center justify-between gap-4 bg-zinc-900 pb-6 pt-16 lg:px-32 lg:pt-36"
>
	<h1 class="text-5xl font-bold lg:text-7xl lg:font-extrabold">
		<div
			class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
		>
			Resume
		</div>
		<div
			class="bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 bg-clip-text text-transparent"
		>
			Marco Velan
		</div>
	</h1>
	<GitLink />
</header>
